.admin-camera-list {
    padding: 20px;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-camera-button {
    padding: 10px 20px;
    background-color: #397D54;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-camera-button:hover {
    background-color: #235D3A;
}

.admin-camera-list table {
    width: 100%;
    border-collapse: collapse;
}

.admin-camera-list th, .admin-camera-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-camera-list th {
    background-color: #f2f2f2;
    text-align: center;
}

.admin-camera-list img {
    width: 50px;
    height: auto;
}
