.edit-camera {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.edit-camera h1 {
    text-align: center;
    margin-bottom: 20px;
}

.edit-camera form {
    display: flex;
    flex-direction: column;
}

.edit-camera label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.edit-camera input,
.edit-camera select,
.edit-camera textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-camera textarea {
    resize: vertical;
}

.edit-camera .btn-save {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.edit-camera .btn-save .btn-back:hover {
    background-color: #45a049;
}

.btn-back {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
}

.btn-delete{
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-delete:hover {
    background-color: #cc0000;
}
