/* Favorite.css */

.camera-item {
    display: flex;
    align-items: center; /* Vertically center items */
    border-bottom: 1px solid #ddd; /* Horizontal line between items */
    padding: 5px 10px; /* Padding around the item */
    margin-bottom: 10px; /* Space between items */
    justify-content: space-between; /* Ensure content is spaced between the link and button */
}

.camera-item:last-child {
    border-bottom: none; /* Remove bottom border for the last item */
}

.camera-item link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
    flex: 1; /* Allow the link to take up available space */
}

.camera-item image {
    margin-right: 10px; /* Space between image and info */
}

.camera-list-image-favorite {
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.info {
    flex: 1; /* Allow info to take up available space */
}

.info h2 {
    margin: 0;
    font-size: 1em; /* Adjust size as needed */
}

.info p {
    margin: 2px 0; /* Reduced margin for a more compact design */
    font-size: 0.9em; /* Adjust size as needed */
}

.camera-item button {
    background-color: #f44; /* Red background */
    color: #fff; /* White text */
    border: none;
    padding: 5px 8px; /* Padding for the button */
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em; /* Adjust size as needed */
    white-space: nowrap; /* Prevent text wrapping */
}

.camera-item button:hover {
    background-color: #d33; /* Darker red on hover */
}