.footer {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: white;
    border-top: 1px solid gray;
}

.left, .right {
    flex: 0.3;
    color: black;
}

.left {
    text-align: left;
    margin-left: 80px;
}

.right a{
    text-align: right;
    color: black;
}
