.login-container {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 700px;
    background-size: contain;
    background: url('../../public/login.png') no-repeat left center;
    margin-left: 50px;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
    margin-right: 200px;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #397D54;
    color: #ffffff;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.login-links {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-links a {
    color: #007BFF;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}

